#main-panel {
  background-color: rgb(121, 121, 121);
}

#menu {
  width: 250px;
  min-height: 100vh;
  background-color: rgb(0, 0, 15) !important;
}

.nav-link {
  transition: background-color 0.2s;
  border-radius: 0.375rem;
}

.nav-link:hover {
  background-color: #495057;
}

.nav-link.active {
  font-weight: bold;
}

.sections {
  background-color: aqua;
}

.cont-details {
  background-color: rgb(255, 255, 255);
  height: 80vh;
  width: 85%;
}
.dos {
  background-color: red;
}


 .confirmado{
  background-color: gray;
  height: 235px;
 }
 .confirmados{
  background-color: rgb(32, 0, 75);
  height: 235px;
 }
 .icono{
  text-decoration: none;
 }

 .detalles{
  font-size: 30px;
 }