@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Italianno&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&family=Ballet:opsz@16..72&family=Cherish&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Grey+Qo&family=Italianno&family=Miss+Fajardose&family=Suranna&family=Tangerine:wght@400;700&family=Updock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&family=Ballet:opsz@16..72&family=Cherish&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Grey+Qo&family=Inconsolata:wght@200..900&family=Italianno&family=Libertinus+Serif+Display&family=Miss+Fajardose&family=Sirivennela&family=Suranna&family=Tangerine:wght@400;700&family=Updock&display=swap");

#main-panel {
  background-color: rgba(5, 187, 35, 0.753);
  height: 100vh;
}


#menu {
  width: 250px;
  /*min-height: 100vh; 
  height: auto;*/
  background-color: rgb(0, 0, 15) !important;
}

.nav-link {
  transition: background-color 0.2s;
  /* border-radius: 0.375rem;s */
  font-size: 28px;
}


a.nav-link.active:hover {
  color: rgb(170, 226, 250);
}

.nav-link.active {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.sections {
  transition: all 0.3s ease;
  flex: 1;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 50%;
}


.with-menu {
  width: calc(100% - 250px);
  /* ajusta al ancho del menú */
}

.full-width {
  width: 100%;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}



.cont-details .row {
  /* width: 600px;*/

  width: 100%;


}

.cont-details {
  background-color: #f5f7fa;
  height: 100vh;
  width: 100%;

}

.title-pendiente,
.title-ausentes,
.title-confirmado,
.title-invitados {
  font-size: 18px;
}




.bi-people-fill,
.number-invitados,
.invitados .bi-emoji-smile,
.invitados .bi-person-fill,
.title-invitados {
  color: #2e61bd;
}


.bi-person-check-fill,
.number-confirmado,
.confirmado .bi-emoji-smile,
.confirmado .bi-person-fill,
.title-confirmado {
  color: #0e9751;
}

.bi-person-dash-fill,
.number-ausentes,
.ausentes .bi-emoji-smile,
.ausentes .bi-person-fill,
.title-ausentes {
  color: #df423d;
}

.bi-clock,
.number-pendiente,
.pendientes .bi-emoji-smile,
.pendientes .bi-person-fill,
.title-pendiente {
  color: #ffb602;
}

.text-status {
  color: rgb(84, 84, 84);
}

.bi-clock {
  background-color: #fef3dd;
  padding: 10px 16px;
  font-size: 25px;
  border-radius: 15px;
}

.bi-person-dash-fill {
  background-color: #fddedc;
  padding: 10px 16px;
  font-size: 25px;
  border-radius: 15px;
}

.bi-person-check-fill {
  background-color: #d9f1e4;
  padding: 10px 16px;
  font-size: 25px;
  border-radius: 15px;
}

.bi-people-fill {
  background-color: #dee9ff;
  padding: 10px 16px;
  font-size: 25px;
  border-radius: 15px;
}

.pendientes {

  height: 235px;
  border-radius: 10px;
  border-left: 6px solid #ffb602;


  background: #fffbf2;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 0 0 1px rgba(0, 185, 71, 0.1);

}

.invitados {
  height: 235px;
  border-radius: 10px;
  border-left: 6px solid #2f62be;


  background: #fffbf2;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 0 0 1px rgba(0, 185, 71, 0.1);
}

.confirmado {
  height: 235px;
  border-radius: 10px;
  border-left: 6px solid #1bc408;

  background: #fffbf2;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 0 0 1px rgba(0, 185, 71, 0.1);
}

.ausentes {
  height: 235px;
  border-radius: 10px;
  border-left: 6px solid #df423d;

  background: #fffbf2;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 0 0 1px rgba(0, 185, 71, 0.1);
}

.icono {
  text-decoration: none;
}

.bi-trash,
.bi-pencil-fill,
.bi-check-circle,
.bi-x-circle,
.bi-hourglass-split {
  font-size: 20px;
}

.bi-check-circle {
  color: #00b947;

}

.bi-x-circle {
  color: rgb(255, 2, 2);
  margin: 15px;
}

.bi-hourglass-split {
  color: rgb(238, 214, 3)
}

.detalles {
  font-size: 35px;
  font-weight: 600;

}

th {
  white-space: nowrap;
  color: red;
}

@media (max-width: 820px) {
  .cont-details .row {
    width: 500px;
  }
}

@media (max-width: 768px) {

  .ausentes,
  .confirmado,
  .invitados,
  .pendientes {
    height: 100%;
  }

  .cont-details .row {
    width: 300px;
    background-color: red;
  }
}