/*SECCION general */
.flex {
  gap: 0px;
}
.cont-full {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

/* .cont-sound {
  background-color: #f1f3f4;
 
  justify-content: center;
  align-items: center;
   
} */
.section-invi {
  --bs-gutter-x: 0rem;
}

.time-values,
.cont-msj {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  text-align: center;
}
.cont-msj {
  top: 50%;
  flex-direction: column;
  width: 90%;
  z-index: 2;
}
/*SECCION SONIDO  SECCION 1*/
.imagenes-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-seccion-one {
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.audio-player {
  align-items: center;
}

.audio-player button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: clamp(1.4rem, 3vw, 2rem);
  color: #0c0c0c;
  transition: 0.3s;
}

.audio-player button:hover {
  color: #000;
  transform: scale(1.1);
}

.audio-time {
  font-size: 2.3rem;
  color: #2b2b2b;
  font-family: "Cormorant Garamond", serif;
}

.text-save-date {
  font-size: clamp(2.5rem, 8.7rem, 4.7rem);
  font-family: "Italianno", cursive;
  color: #fffcfc;
}

.text-msj {
  color: #faf7f7;
  font-size: clamp(1.2rem, 4vw, 2.4rem);
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

/* FIN SECCION 1 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
/*SECCION rompecabeza SECCION 2*/
.cont-rompe {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* <-- Agrega esto */
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* .iniciales-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;  
}

.inicial {
  font-size: clamp(4rem, 12vw, 8rem);
  font-family: "Italianno", cursive;
  color: #bdbcbc;
  line-height: 1;
}

.novia {
  position: absolute;
  top: 20px;
  left: 70%;
  transform: translateX(-30%);
} */
/* Contenedor de imágenes */
.contenedor-imagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

/* Imágenes */
.image-piezas {
  width: 100%;
  max-width: 330px;
  height: auto;
  display: block;
}

/* Cada bloque */
.img-izquierda,
.img-centro,
.img-derecha {
  flex: 0 1 330px;
}

.img-centro {
  margin-top: -60px;
}

.img-derecha,
.img-izquierda {
  margin-top: -100px;
}

/* FIN SECCION 2 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
/*inicio SECCION 3 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
.imagen-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* Muy importante para que quede detrás */
}

.cont-titleContador,
.cont-date,
.time-values {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* centra en ambos ejes */
  text-align: center;
  width: 100%;
}

.text-time {
  font-size: 2.5rem;

  font-family: "Suranna", serif;
  letter-spacing: 7px;
  line-height: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.time-values {
  padding-top: 160px;
}
.cont-date {
  margin-top: 230px;
}
.time-box {
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  padding: 7px;
  margin: 7px;
  border-radius: 10px;
  text-align: center;
  font-family: "Suranna", serif;
}

.time-label {
  font-size: 12px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.time-box span {
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.text-date {
  margin-top: 25px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 3.5rem;
  color: #fffefe;
  letter-spacing: 4px;
}
/* FIN SECCION 3 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
/*   SECCION 4 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
.texto-imagen {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 20px;
}

.texto-imagen h2 {
  margin-bottom: 10px;
}

.dress-code {
  font-family: "Cormorant Garamond", serif;
  color: rgb(217, 207, 207);
  font-size: clamp(1.8rem, 4vw, 2.8rem);
  margin-bottom: 10px;
}
.text-present {
  font-size: 3.7rem;
  font-family: "Italianno", cursive;
  color: #f0f2f3;
  letter-spacing: 3px;
}

.dress-text {
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-style: italic;
  color: #d8b36a;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.6;
}

/* FIN SECCION 4 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
/* RESPONSIVE ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
@media (max-width: 992px) {
  .contenedor-imagenes {
    gap: 35px;
  }

  .image-piezas {
    max-width: 260px;
  }

  .img-izquierda,
  .img-centro,
  .img-derecha {
    margin-top: 0;
  }

  .text-date {
    font-size: 2.8rem;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .cont-msj {
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .text-time {
    font-size: 2.2rem;
  }
  .cont-titleContador {
    top: 20%;
  }

  .time-values {
    top: 18%;
  }

  .cont-date {
    top: 10%;
  }
  .iniciales-container {
    margin: 20px auto;
    justify-content: center;
  }

  .inicial {
    font-size: clamp(3rem, 18vw, 4.5rem);
  }

  .novia {
    top: 15px;
    left: 50%;
    transform: translateX(-35%);
  }
  .cont-rompecabeza {
    padding: 20px 10px;
  }

  .contenedor-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap; /* Mantiene las 3 en una fila */
    margin-top: -40px;
  }

  .img-izquierda,
  .img-centro,
  .img-derecha {
    flex: 0 0 30%;
    max-width: 30%;
    margin-top: 0;
  }

  .image-piezas {
    width: 100%;
    height: auto;
    display: block;
  }

  .text-date {
    margin-top: 20px;
    font-size: 2.8rem;
  }
  .audio-player button {
    font-size: 2rem;
    color: #fdf9f9;
  }

 
  .audio-player button:hover {
    color: #f7f7f7;
  }

  .audio-time {
    font-size: 2.2rem;
    color: #f8f6f6;
  }
}

@media (max-width: 576px) {
  .contenedor-imagenes {
    display: flex;
    flex-direction: row; /* Mantenerlas en horizontal */
    justify-content: center;
    align-items: center;
    gap: 8px; /* Menor separación */
    flex-wrap: nowrap; /* Evita que bajen a otra línea */
  }

  .img-izquierda {
    margin-top: 20px;
  }

  .img-centro {
    margin-top: -20px;
  }

  .img-derecha {
    margin-top: 20px;
  }

  .image-piezas {
    width: 30vw; /* Cada imagen ocupa aproximadamente un tercio */
    max-width: 120px;
    min-width: 85px;
    height: auto;
  }

  .text-date {
    font-size: 2rem;
    margin-top: 15px;
  }
}
/* RESPONSIVE FIN ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */

/* INICIO ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */

.couple-name {
  top: 75%;
  text-shadow: 2px 2px 4px #000;
}

.title-name-text {
  color: white;
  font-size: 5.4rem;
  font-family: "Italianno", cursive;
  line-height: 60px;
}

.title-merried-text {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem; /* Ajusta según el tamaño de los nombres */
  font-weight: 400; /* Puedes probar también 500 */
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.3;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.cover {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.cover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Oscurecer un poco */

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

/* Contenido */

.cover-content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  padding: 20px;
}

.cover-content h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.cover-content p {
  font-size: 1.2rem;
  margin-bottom: 35px;
}

.btn-abrir {
  margin-top: 35px;
  padding: 5px 20px;
  border: 2px solid #faf6f6;
  border-radius: 50px;
  background: transparent;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}

.btn-abrir:hover {
  background: rgb(255, 255, 255);
  color: rgb(73, 11, 11);
  transform: scale(1.1);
}
/* divider */

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  max-width: 120px;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.divider span {
  margin: 0 18px;
  color: rgba(255, 255, 255, 0.95);
  font-size: 22px;
}
/* fin divider  */
