/*SECCION general */
.cont-full {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}
.section-invi {
  --bs-gutter-x: 0rem;
}

.time-values,
.couple-name,
.cont-audio,
.cont-msj {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* centra horizontal y vertical */
  text-align: center;
}
/*SECCION SONIDO */
.imagenes-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-seccion-one {
  width: 85%;
  height: 85%;
  object-fit: cover;
}

.cont-msj {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  z-index: 2;
}
.cont-sound {
  background-color: #f1f3f4;
  /*  display: flex; */
  justify-content: center;
  align-items: center;
  /*   min-height: 100vh; */
}

.audio-player {
  align-items: center;
  gap: 4px;
  padding: 0px 22px;
}

.audio-player button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  color: #0c0c0c;
  transition: 0.3s;
}

.audio-player button:hover {
  color: #000;
  transform: scale(1.15);
}

.audio-time {
  font-size: 2.3rem;
  color: #2b2b2b;
  font-family: "Cormorant Garamond", serif;
}

.text-save-date {
  font-size: 4.7rem;
  font-family: "Italianno", cursive;
  color: #fffcfc;
}

.text-msj {
  color: #faf7f7;
  font-size: 2.4rem;
  font-family: "Cormorant Garamond", serif;

  background: rgba(0, 0, 0, 0.177); /* Fondo negro semitransparente */
  padding: 5px 9px;
  border-radius: 10px;
  display: inline-block;
  
}
/* FIN SECCION 1 ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
/* RESPONSIVE ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
@media (max-width: 743px) {
  .text-save-date {
    font-size: 3.7rem;
  }
}
@media (max-width: 500px) {
  .text-save-date {
    font-size: 3rem;
  }
  .text-msj {
    font-size: 1.3rem;
  }
}

@media (max-width: 743px) {
  .text-msj {
    font-size: 1.5rem;
  }
}
/* RESPONSIVE FIN ¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡¡ */
