/* css vista viewinvitation */
.valor {
  background-color: #4e73df;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#imag {
  position: absolute;
  bottom: 0;
}

.bride#contBride {
  background-color: #290101;
  height: 100%;

  width: 90%;
  margin: 0px auto;
  position: relative;
}
/* CSS */

.sections {
  --bs-gutter-x: 0rem;
}
.cont-med {
  z-index: 1;
  position: relative;
  background-color: #f1f3f4;
  height: 50vh; /* ocupa toda la altura de la pantalla */
  overflow: hidden;
}

/* seccion uno */
.cont-full {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imagen-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Muy importante para que quede detrás */
}
.couple-name {
  background-color: aqua;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); /* centra horizontal y vertical */
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  top:50%;
}
.name-text {
 /*  top: 80%; */
  color: white;
  font-size: 6rem;
  font-family: "Italianno", cursive;
}
.merried-text {
  /* top: 93%; */
  color: white;
  font-size: 3rem;
  font-family: "Alumni Sans Pinstripe";
}




.text-save-date,
/* .name-text,
.merried-text,
.text-time,
.time-values,
.text-msj,
audio {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  text-shadow: 2px 2px 4px #000;
} */
.cont-text-celebration {
  background-color: rgb(0, 255, 13);
}
.cont-text-ceremonia {
  background-color: aqua;
}

.cont-text-ceremonia,
.cont-text-celebration {
  height: auto;
  display: flex;
  flex-direction: column; /* salto de linea  */
  align-items: center;
  justify-content: center;
}

.text-ceremonia,
.text-celebration {
  font-size: 3.2rem;
  font-family: "Italianno", cursive;
  color: rgb(0, 0, 0);
}

.text-churp {
  font-size: 1.2rem;
  font-family: "Georgia";
  color: rgb(0, 0, 0);
}
.text-save-date {
  font-size: 5.2rem;
  font-family: "Italianno", cursive;
  top: 50%;
  color: rgb(0, 0, 0);
}
.text-where {
  font-size: 5.2rem;
  font-family: "Italianno", cursive;

  color: rgb(0, 0, 0);
}
.text-msj {
  top: 70%;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
.text-date {
  top: 85%;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000;
  font-family: "Alumni Sans Pinstripe";
}
.text-time {
  top: 68%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
/* Contenedor de las cajitas */
.time-values {
  top: 80%;
}



/* Cajita individual con contenido centrado */
.time-box {
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

/* Texto pequeño debajo */
.time-label {
  font-size: 12px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.time-box span {
  font-size: 28px;
  font-weight: bold;
  display: block;
}
audio {
  height: 30px;
  width: 200px;
  top: 25%;
}
.contenedor {
  display: flex;
  justify-content: center;
}
@media (max-width: 743px) {
  .name-text {
    top: 78%;
    font-size: 5rem;
  }
}
@media (max-width: 639px) {
  .name-text {
    font-size: 4rem;
  }

  .merried-text {
    top: 90%;
    font-size: 2.3rem;
  }
}

@media (max-width: 495px) {
  .name-text {
    font-size: 3rem;
    top: 85%;
  }
  .merried-text {
    font-size: 1.5rem;
    top: 95%;
  }
}

@media (max-width: 385px) {
  .name-text {
    font-size: 1.8rem;
    top: 90%;
  }
  .merried-text {
    font-size: 1rem;
    top: 96%;
  }
}

/* @media (max-width: 480px) {
  .time-values {
    flex-direction: column;
    gap: 12px;
  }

  .time-box {
    min-width: 140px;
  }

  .text-save-date {
    font-size: 2rem;
  }

  .text-date {
    font-size: 1.5rem;
  }
} */
