.section-invi {
  --bs-gutter-x: 0rem;
}

.cont-full {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fondo-imagen {
  background-color: rgba(0, 0, 0, 0.795);
  position: relative;
  z-index: 1;
}
.imagenes-container {
  display: flex;
  justify-content: center; /* centra en horizontal */
  align-items: center; /* centra en vertical */
  height: 100vh; /* ocupa toda la altura de la pantalla */
}

.imagenes {
  width: 85%;
  height: 85%;

  object-fit: cover;
}
.imagen-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Muy importante para que quede detrás */
}

/* SECCION UNO */
.time-values,
.couple-name,
.cont-audio,
.cont-msj {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%); /* centra horizontal y vertical */
  text-align: center;
}

.couple-name {
  top: 75%;
  text-shadow: 2px 2px 4px #000;
}
.title-name-text {
  color: white;
  font-size: 6rem;
  font-family: "Italianno", cursive;
  line-height: 60px;
  padding-bottom: 20px;
}
.title-merried-text {
  color: white;
  font-size: 3rem;
  font-family: "Alumni Sans Pinstripe";
}

/*SECCION 2 */
.cont-sound {
  background-color: #f1f3f4;
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center; /* centra vertical */
}

#audio {
  height: 30px;
  width: 200px;
  position: absolute; /* Para poder moverlo libremente */
  top: 35%; /* Se baja un 30% desde arriba */
  left: 50%; /* Punto central horizontal */
  transform: translate(-50%, -50%); /* Ajuste para centrar en ambos ejes */
}

.cont-msj {
  position: absolute; /* Para poder moverlo libremente */
  top: 50%; /* Se baja un 30% desde arriba */
  left: 50%; /* Punto central horizontal */
  transform: translate(-50%, -50%); /* Ajuste para centrar en ambos ejes */
}

.text-save-date {
  font-size: 4.2rem;
  font-family: "Italianno", cursive;
  color: rgb(0, 0, 0);
  line-height: 20px;
}
.text-msj {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

/* SECCION 3 */

.cont-titleContador,
.time-values {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); /* centra en ambos ejes */
  text-align: center;
  width: 100%;
}

.text-time {
  font-size: 2.5rem;

  font-family: "Suranna", serif;
  letter-spacing: 7px;
  line-height: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.time-values {
  padding-top: 165px;
}

.time-box {
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  padding: 7px;
  margin: 7px;
  border-radius: 10px;
  text-align: center;
  font-family: "Suranna", serif;
}

.time-label {
  font-size: 12px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.time-box span {
  font-size: 28px;
  font-weight: bold;
  display: block;
}

/* SECCION 4 */
/* .iniciales{
   font-family: "Miss Fajardose", cursive;
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  margin: 0; 
  padding: 0;  
  display: inline-block;   
} */

/* #novia{
margin-left: 30px;
 
}
  */

.iniciales-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.inicial {
  /*  font-family: "Miss Fajardose", cursive; */
  font-size: 4em;
  font-family: "Italianno", cursive;
  color: #464646;
}

.novia {
  position: absolute;
  top: 20px; /* mueve hacia abajo */
  left: 5px; /* mueve hacia la derecha */
}

.flex {
  gap: 7px;
  /* d-flex justify-content-space-between flex-column align-items-center */
}

/* .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cont-info {
  background-color: #f0f2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* d-flex justify-content-center flex-column align-items-center */
/*} */
.image {
  width: 200px;
  height: auto;
}
.text-where {
  font-size: 4.2rem;
  font-family: "Italianno", cursive;
  color: rgb(0, 0, 0);
}
.text-date {
  justify-content: center; /* centra horizontal */
  margin: 0 8px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: rgb(31, 31, 31);

  font-family: "Sirivennela", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cont-date {
  /* padding-top: 20px; */
}
.cont-date h3 {
  text-align: center; /* centra horizontal el texto */
}
/************************************SECTION 5 *************************************************************************/
.cont-centrado {
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center; /* centra vertical */
}
.text-present {
  font-size: 4.2rem;
  font-family: "Italianno", cursive;
  color: rgb(255, 255, 255);
}
.text-msj-present {
  color: rgb(236, 236, 236);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
.text-present-place {
  font-size: 1.6rem;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: rgb(231, 230, 230);
}
.bi-gift {
  font-size: 2.5rem;
  color: rgb(235, 241, 247);
}
.bi-amazon {
  font-size: 1.5rem;
  color: rgb(235, 241, 247);
}
.bi-binoculars {
  color: aliceblue;
}

/* SECTION */

.confir {
  width: 100%;
}
.cont-confirmation {
  background-color: #f0f2f3;
  display: flex;
  /*   justify-content: center;  */
  align-items: center; /* centra vertical */
}
.text-confirmation {
  font-size: 4.2rem;
  font-family: "Italianno", cursive;
  color: rgb(0, 0, 0);
}
.text-msj-confirmation {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
}

@media (max-width: 743px) {
  .title-name-text {
    font-size: 5rem;
  }
  .title-merried-text {
    font-size: 2.3rem;
  }
  /* dos */
  .text-save-date {
    font-size: 3.2rem;

    line-height: 20px;
  }
  .text-msj {
    font-size: 1.5rem;
  }
  /*   tres */

  .text-time {
    font-size: 3.2rem;

    line-height: 60px;
  }

  .time-label {
    font-size: 0.9rem;
    margin-bottom: 3px;
  }

  .time-box span {
    font-size: 1.5rem;
  }
  /*   cuatro */
  .text-where {
    font-size: 3.2rem;
  }
  .text-date {
    margin: 0 8px;
    font-size: 2.6rem;
  }
  .text-ceremonia,
  .text-celebration {
    font-size: 2.7rem;
  }
  .text-churp {
    font-size: 1.4rem;
  }

  /* cinco */
  .text-present {
    font-size: 3.2rem;
  }

  .text-present-place {
    font-size: 1.5rem;
  }
  .bi-gift {
    font-size: 1.5rem;
  }

  /*   seis */
  .text-confirmation {
    font-size: 3.2rem;
  }
  .text-msj-confirmation {
    font-size: 1.4rem;
  }
}
